/* src/Navbar.css */

.navbar * {
    display: inline;
  }

  .navbar-img {
    height: 80px;
    margin-left: 20px;
    margin-top: 10px;
  }

  .navbar-container {
    display: flex;
    height: 100px;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    justify-content: space-between;
  }
  
  .navbar-logo {
    color: #000000;
    font-size: 1.5rem;
  }
  
  .navbar-links-container {
    display: flex;
    justify-content: center; /* Center the links */
    flex-grow: 1; /* Allow the container to grow */
    display: inline;
}
  .navbar-links {
    list-style: none;
    gap: 1rem;

  }
  
  .navbar-links a {
    color: #000000;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;

  }


 /* Responsive design */
@media (max-width: 768px) {
  .navbar-container {
      flex-direction: column;
  }

  .navbar-links {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
  }
}